<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DAWebServicePortBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.102.146.6:80/daqis/DAWebService" binding="basicHttpBinding" bindingConfiguration="DAWebServicePortBinding" contract="DaqisService.IDAWebService" name="DAWebServicePort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
